@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  width: 1300px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
  align-items: center;
}
.menu__links {
  display: flex;
  justify-content: space-between;
  width: 680px;
  list-style: none;
}
.menu__elem {
  display: flex;
  align-items: center;
}
.menu__elem img {
  margin-right: 20px;
}
.menu__elem a,
.menu__elem span {
  color: #000;
  font-family: "Circe";
  text-decoration: none;
}
.menu__link {
  list-style: none;
}
.menu__brand {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: #EC1B2E;
  width: 260px;
  line-height: 140%;
  height: 40px;
  font-family: "Circe Bold";
}
.menu__button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #EC1B2E;
  transition: all 0.3s;
  cursor: pointer;
}
.menu__button:hover {
  background-color: #ab2a35;
}

.submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.submenu__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submenu__link {
  list-style: none;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  font-family: "Circe Bold";
  text-transform: uppercase;
  font-size: 14px;
}
.submenu__link a {
  text-decoration: none;
  color: #000;
}

.button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 42px;
  color: #fff;
  background-color: #EC1B2E;
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #ab2a35;
}

.slider {
  width: 100%;
  background-image: url("./images/main.png");
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider h1 {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 140%;
  font-family: "Circe ExtraBold";
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 100px;
  background-color: rgba(51, 51, 51, 0.5);
  width: 540px;
}
.slider .container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.containerBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containerBox .schoolBox {
  width: 638px;
  height: 405px;
  margin-top: 191px;
  border: 10px solid #EC1B2E;
}
.containerBox .schoolBox__schoolText {
  padding-top: 40px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 76px;
  width: 458px;
  height: 243px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333;
}
.containerBox .schoolBox__schoolHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px 30px 10px 30px;
  gap: 10px;
  background: #FFF;
  color: #333;
  font-family: "Circe ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  margin-top: -50px;
  margin-left: 60px;
  margin-right: 141px;
}
.containerBox img {
  margin-left: 150px;
  margin-top: 191px;
}

.containerСourses {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.containerСourses__header {
  width: 100%;
  height: 67px;
  font-family: "Circe ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  color: #333;
  margin-top: 150px;
  margin-bottom: 27px;
}
.containerСourses__currs {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.containerСourses__curr {
  width: 135px;
  height: 44px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  background-color: #EC1B2E;
}/*# sourceMappingURL=style.css.map */