@charset "UTF-8";
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  width: 1300px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
  align-items: center;
}
.menu__links {
  display: flex;
  justify-content: space-between;
  width: 680px;
  list-style: none;
}
.menu__elem {
  display: flex;
  align-items: center;
}
.menu__elem img {
  margin-right: 20px;
}
.menu__elem a,
.menu__elem span {
  color: #000;
  font-family: "Circe";
  text-decoration: none;
}
.menu__link {
  list-style: none;
}
.menu__brand {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: #EC1B2E;
  width: 260px;
  line-height: 140%;
  height: 40px;
  font-family: "Circe Bold";
}
.menu__button {
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #EC1B2E;
  transition: all 0.3s;
  cursor: pointer;
}
.menu__button:hover {
  background-color: #ab2a35;
}

.submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.submenu__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submenu__link {
  list-style: none;
  text-decoration: none;
  color: #000;
  margin-left: 20px;
  font-family: "Circe Bold";
  text-transform: uppercase;
  font-size: 14px;
}
.submenu__link a {
  text-decoration: none;
  color: #000;
}

.button {
  display: flex;
  font-family: "Circe Bold";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 42px;
  color: #fff;
  background-color: #EC1B2E;
  transition: all 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #ab2a35;
}

.slider {
  width: 100%;
  background-image: url("./images/main.png");
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider h1 {
  text-transform: uppercase;
  font-size: 40px;
  line-height: 140%;
  font-family: "Circe ExtraBold";
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 100px;
  background-color: rgba(51, 51, 51, 0.5);
  width: 540px;
}
.slider .container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.containerBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containerBox .schoolBox {
  width: 638px;
  height: 405px;
  margin-top: 191px;
  border: 10px solid #EC1B2E;
}
.containerBox .schoolBox__schoolText {
  padding-top: 40px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 76px;
  width: 458px;
  height: 243px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333;
}
.containerBox .schoolBox__schoolHeader {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 10px 30px 10px 30px;
  gap: 10px;
  background: #FFF;
  color: #333;
  font-family: "Circe ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  margin-top: -50px;
  margin-left: 60px;
  margin-right: 141px;
}
.containerBox img {
  margin-left: 150px;
  margin-top: 191px;
}

.containerСourses {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1300px;
}
.containerСourses__header {
  width: 100%;
  height: 67px;
  text-align: center;
  font-family: "Circe ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  color: #333;
  margin-top: 150px;
  margin-bottom: 27px;
}
.containerСourses__currs {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.containerСourses__curr {
  width: 135px;
  height: 44px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFF;
  text-align: center;
  background-color: #EC1B2E;
  margin-right: 82px;
  margin-left: 82px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}
.containerСourses__groups {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0%;
  text-align: center;
}
.containerСourses__group {
  background-color: #ffffff;
  margin-right: 12px;
  margin-left: 12px;
  margin-top: 55px;
  margin-bottom: 100px;
  color: #333333;
  width: 306px;
  height: 68px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
}
.containerСourses p {
  margin: 0%;
  color: #EC1B2E;
}

.table {
  width: 1076px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.thead {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: rgba(51, 51, 51, 0.05);
  color: #333333;
  margin-bottom: 41px;
}
.thead__column1 {
  width: 64px;
  padding: 10px 96px 10px 20px;
}
.thead__column2 {
  width: 139px;
  padding: 10px 141px 10px 20px;
  gap: 10px;
}
.thead__column3 {
  width: 95px;
  padding: 10px 481px 10px 20px;
  gap: 10px;
}
.thead p {
  margin: 0%;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}

.tbody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.tbody tr {
  display: flex;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1254901961);
  margin-bottom: 19px;
}
.tbody .borderNone {
  border-bottom: none;
}
.tbody td {
  padding-bottom: 19px;
}
.tbody td p {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #333;
  margin-top: 0%;
  margin-bottom: 18px;
}
.tbody td span {
  background-color: #EC1B2E;
  color: #fff;
  padding: 5px;
}
.tbody__column1 {
  padding: 0px 81px 10px 20px;
  width: 59px;
}
.tbody__column2 {
  width: 260px;
  gap: 18px;
  padding: 0px 20px;
}
.tbody__column3 {
  padding: 0px 20px;
  gap: 18px;
  width: 556px;
}

.exam {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.exam__header {
  text-align: center;
  font-family: "Circe ExtraBold";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 140%;
  color: #333;
  margin-top: 150px;
  margin-bottom: 100px;
}
.exam__posts {
  display: flex;
  flex-direction: row;
}
.exam__post {
  width: 306px;
  height: 585px;
  margin-right: 24px;
}
.exam__post span {
  display: flex;
  text-align: center;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  width: 266px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.exam__post p {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.exam__text {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 45px;
  width: 266px;
  height: 164px;
}
.exam .buttonPost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Circe Bold";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  background-color: #EC1B2E;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 72px;
  height: 28px;
  width: 103px;
}
.exam .buttonPost:hover {
  background-color: #ab2a35;
}

.events {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.events__header {
  text-align: center;
  font-family: "Circe ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #333;
  margin-top: 150px;
  margin-bottom: 100px;
}
.events__posts {
  display: flex;
  flex-direction: row;
}
.events__post {
  width: 416px;
  height: 539px;
  margin-right: 24px;
}
.events__post span {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  width: 356px;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.events__post p {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.events__text {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 45px;
  width: 356px;
  height: 88px;
}
.events .buttonPost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Circe Bold";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  background-color: #EC1B2E;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 30px;
  height: 28px;
  width: 103px;
}
.events .buttonPost:hover {
  background-color: #ab2a35;
}

.schoolNews {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.schoolNews__header {
  text-align: center;
  font-family: "Circe ExtraBold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #333;
  margin-top: 150px;
  margin-bottom: 100px;
}
.schoolNews__posts {
  display: flex;
  flex-direction: row;
}
.schoolNews__post {
  width: 306px;
  height: 352px;
  margin-right: 24px;
}
.schoolNews__post span {
  display: flex;
  font-family: "Circe";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  width: 306px;
  margin-bottom: 25px;
}
.schoolNews__post p {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
.schoolNews__text {
  margin-bottom: 35px;
  width: 306px;
  height: 132px;
}
.schoolNews .buttonPost {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Circe Bold";
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  background-color: #EC1B2E;
  transition: all 0.3s;
  cursor: pointer;
  height: 28px;
  width: 103px;
}
.schoolNews .buttonPost:hover {
  background-color: #ab2a35;
}

.containerFooter {
  background-color: rgba(51, 51, 51, 0.05);
  height: 588px;
  margin-top: 120px;
  width: 100%;
}
.containerFooter .footerFirst {
  margin-left: 156px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.containerFooter .footerFirst .column1 {
  margin-right: 69px;
  width: 221px;
}
.containerFooter .footerFirst .column1__header {
  display: flex;
  text-decoration: none;
  list-style: none;
  text-transform: uppercase;
  color: #000;
  line-height: 140%;
  height: 40px;
  font-family: "Circe Bold";
  margin-bottom: 40px;
  font-size: 14px;
}
.containerFooter .footerFirst .column1__links {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}
.containerFooter .footerFirst .column1__elem {
  display: flex;
  align-items: center;
}
.containerFooter .footerFirst .column1__elem img {
  margin-right: 20px;
}
.containerFooter .footerFirst .column1__elem a,
.containerFooter .footerFirst .column1__elem span {
  color: #000;
  font-family: "Circe";
  text-decoration: none;
}
.containerFooter .footerFirst .column1__link {
  list-style: none;
  padding-bottom: 20px;
}
.containerFooter .footerFirst .column1__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.containerFooter .footerFirst .column1__icons img {
  margin-right: 20px;
}
.containerFooter .footerFirst .column2 {
  display: flex;
  flex-direction: column;
  margin-right: 69px;
  width: 200px;
  height: 398px;
}
.containerFooter .footerFirst .column2__header {
  font-family: "Circe";
  color: #333;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}
.containerFooter .footerFirst .column2__body {
  font-size: 14px;
  font-family: "Circe";
  text-decoration: none;
  padding-bottom: 15px;
  margin: 0%;
}
.containerFooter .footerFirst .column3 {
  display: flex;
  flex-direction: column;
  margin-right: 69px;
  width: 200px;
  height: 398px;
}
.containerFooter .footerFirst .column3__header1 {
  font-family: "Circe";
  color: #333;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}
.containerFooter .footerFirst .column3__body1 {
  font-size: 14px;
  font-family: "Circe";
  text-decoration: none;
  padding-bottom: 15px;
  margin: 0%;
}
.containerFooter .footerFirst .column3__header2 {
  font-family: "Circe";
  color: #333;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin-top: 40px;
}
.containerFooter .footerFirst .column3__body2 {
  font-size: 14px;
  font-family: "Circe";
  text-decoration: none;
  padding-bottom: 15px;
  margin: 0%;
}
.containerFooter .footerFirst .column4 {
  display: flex;
  flex-direction: column;
  margin-right: 69px;
  width: 200px;
  height: 398px;
}
.containerFooter .footerFirst .column4__header {
  font-family: "Circe";
  color: #333;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}
.containerFooter .footerFirst .column4__body {
  font-size: 14px;
  font-family: "Circe";
  text-decoration: none;
  padding-bottom: 15px;
  margin: 0%;
}
.containerFooter .footerFirst .column5 {
  display: flex;
  flex-direction: column;
  margin-right: 69px;
  width: 200px;
  height: 398px;
}
.containerFooter .footerFirst .column5__header {
  font-family: "Circe";
  color: #333;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
}
.containerFooter .footerFirst .column5__body {
  font-size: 14px;
  font-family: "Circe";
  text-decoration: none;
  padding-bottom: 15px;
  margin: 0%;
}
.containerFooter .footerSecond {
  margin-top: 25px;
  margin-left: 156px;
  width: 1300px;
  border-top: 1px solid;
  border-color: rgba(51, 51, 51, 0.3);
}
.containerFooter .footerSecond p {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: rgba(51, 51, 51, 0.3);
}/*# sourceMappingURL=style.css.map */